<style>
  /* Add some padding to the bottom to prevent overlap */
.navbar-collapse {
  padding-bottom: 20px;
}

/* Ensure navbar toggler button is aligned properly */
.navbar-toggler {
  margin-left: auto;
}

.navbar-collapse {
  background-color: #fff; /* Bootstrap primary color */
}

/* Adjust the z-index to ensure the navbar is on top */
.navbar {
  z-index: 10;
}

/* Adjust margins and paddings for small devices */
@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
    margin-top: 10px;
  }
}

</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-compass"></i>
    </a>
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">List your property</a>
        <% if(!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %>
        <% if(currUser) { %>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
