<% layout("/layouts/boilerPlate") %>
<body>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <br>
                <h3>Create new Listings</h3>
                <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" name="listing[title]" required placeholder="Add a catchy title">
                        <div class="valid-feedback">
                            Title Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control" required placeholder="Enter description"></textarea>
                        <div class="invalid-feedback">
                            Please Enter a Short Description.
                        </div>
                    </div>
            
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Listing Image</label>
                        <input type="file" class="form-control" name="listing[image]" required>
                    </div>
                    
                    <div class="row">
                        <div class="mb-3 col-12 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input class="form-control" name="listing[price]" required placeholder="1200">
                            <div class="invalid-feedback">
                                Please Enter a Valid Price.
                            </div>
                        </div>
        
                        <div class="mb-3 col-12 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" class="form-control" name="listing[country]" required placeholder="India">
                            <div class="invalid-feedback">
                                Country name should be valid.
                            </div>
                        </div>
                    </div>
    
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" name="listing[location]" required placeholder="Jaipur, Rajasthan">
                        <div class="invalid-feedback">
                            Location should be valid.
                        </div>
                    </div>
                    
                    <button class="btn btn-dark add-btn mt-3">Add</button>
                </form>
            </div>
        </div>
    </div>
</body>
