<% layout("/layouts/boilerPlate") %>

<div class="container mt-3">
    <div class="row justify-content-center">
        <h1 class="text-center mb-4">SignUp on ExporeEase</h1>
        <div class="col-12 col-md-8 col-lg-6">
            <form action="/signup" method="post" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" id="username" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password" required>
                </div>
                <button class="btn btn-success w-100">SignUp</button>
            </form>
        </div>
    </div>
</div>
